// colors
$primary             = #20A0FF;
$success             = #09bb07;
$warning             = #fdbe01;
$danger              = #e64340;
$info                = #23b7e5;
$dark                = #1c2128;
$bodyBg              = #f0f2f5

$accentColor         = $primary
$textColor           = #303133
$secondaryTextColor  = #616266
$lightBlackTextColor = #666
$borderColor         = #e9e9e9
$codeBgColor         = #282c34
$arrowBgColor        = #ccc
$linkColor           = $lightBlackTextColor

// layout
$navbarHeight        = 3.6rem
$sidebarWidth        = 20rem
$contentWidth        = 98%

// responsive breakpoints
$MQNarrow            = 959px
$MQMobile            = 719px
$MQMobileNarrow      = 419px
