@require './config'

*
  box-sizing: border-box
  padding 0;
  margin 0
::-webkit-scrollbar
    width: 6px;
    height: 7px;
    background: #f8f8f8;
::-webkit-scrollbar-thumb
  background-color:#666;
  border-radius:4px
html,body,#__CHN_APP
  width 100%
  height 100%
body
  padding 0;
  margin 0;
  font-family -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif
  font-size 14px
  color: #333
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
h1,h2,h3,h4,h5,h6
  padding 0;
  margin 0;
  font-weight 400
ul,li
  padding 0;
  margin 0
  list-style-type none
.nprogress-busy
  pointer-events none;

#nprogress .bar
  background: $success
  top:0px;
  height:2px;

#nprogress .peg
  box-shadow:0 0 0 transparent;

#nprogress .spinner
  position: fixed;
  top:50%;
  left:50%;
  right:auto;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

#nprogress .spinner-icon
  border-top-color $success
  border-left-color $success
  width: 40px;
  height:40px
  border-width:2px
  -webkit-animation: nprogress-spinner 800ms linear infinite;
  animation: nprogress-spinner 800ms linear infinite;

a
  font-weight 500
  color lighten($textColor,10%)
  text-decoration none
  transition color .2s ease
  &:hover
    color $primary
    text-decoration none
.main-content
  width $contentWidth
  margin 0 auto
.page-content
  padding 10px 0 0 0

.table {
  width: 100%;
  max-width: 100%;
  background #fff;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e8eaed;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px 12px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #e8eaed;
  word-break: break-all;
}
.table > thead > tr > th {
  vertical-align: bottom;
  background: rgba(232, 234, 237, 0.5);
  border-bottom: 1px solid #e8eaed;
  padding: 8px 12px;
}

.table > tbody + tbody {
  border-top: 1px solid #e8eaed;
}
.table .table {
  background-color: #fafafa;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f2f5fd;
}
.table-hover > tbody > tr:hover {
  background-color: #f9f9f9;
}
.sealui-panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    color: #333;
    -webkit-box-shadow: 0 2px 5px 0 rgba(140, 144, 155, 0.15);
    -moz-box-shadow: 0 2px 5px 0 rgba(140, 144, 155, 0.15);
    box-shadow: 0 2px 5px 0 rgba(140, 144, 155, 0.15);
    margin-bottom : 10px;
  }
  .sealui-panel.is-default{
    border-color:#20a0ff;
  }
  .sealui-panel.is-default .sealui-panel-heading{
    background-color:#20a0ff;
    color:#fff
  }
  .sealui-panel-heading{
    padding: 10px 15px;
    border-bottom: 0px solid #e9e9e9;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background: #fff;
    color: #333;
    border-color: #e8eaed;
    background: #fff;
    position: relative;
  }
  .sealui-panel-title{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    letter-spacing: .6px;
    line-height: 24px;
  }
  .sealui-panel-body{
    padding: 0px;
  }
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 1px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 1px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 1px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 1px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #e8eaed;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}

.table-head{
  background:rgba(232,234,237,0.5);
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  margin-top: -1px;
  padding:10px 20px;
  font-weight:600
}
.table-body{
  margin-top:-1px;
}
.table-body li{
  padding: 8px 20px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #e9e9e9;
  word-break: break-all;
}
.table-body li:hover{
  background-color:#f8f8f8
}
.sealui-panel-body .sealui-checkbox{
  width: 60%
}

.sealui-panel-body .table-head--title{
  width : 30%;
  display:inline-block
}
.sealui-panel-body a.table-head--title{
  color:#20A0FF;
  text-decoration:none
}
.sealui-panel-body .table-head--title:last-child{
  width:10%;
  text-align:right
}
.groupList
  height auto
  transition: height .2s;
  overflow hidden
.list-group
  margin-bottom 0px;
  .sealui-radio-group
    display:block
.list-group-item
  padding 8px 15px
  border-bottom 1px solid #e9e9e9
  &:last-child
    border 0 none
  label
    font-weight 500
    font-size 16px
label.label-title
  padding 5px 0 0 0
  display block
.sealui-tag
  margin 3px 10px 3px 0;
  border-color transparent
  background-color #fff
  color #333
  font-size 14px
  &.is-check
    color #20a0ff
    border-color rgba(32,160,255,.5)
    background-color rgba(32,160,255,.1)
label.sealui-radio-button
  font-weight 400
  &.is-active{
    font-weight 500
  }
.sealui-radio-button__inner,
.sealui-radio-button:first-child .sealui-radio-button__inner
  border 0 none
  border-radius 3px !important
  box-shadow 0 0 0 0 !important
.sealui-radio-button:last-child .sealui-radio-button__inner,
.sealui-radio-button:first-child .sealui-radio-button__inner
  border-radius 0 0 0 0
.sealui-radio-button__orig-radio:disabled+.sealui-radio-button__inner
  background-color: transparent;
.panels-right
  position absolute
  right 10px
  top 4px
  .sealui-button
    font-weight 500
    font-size 16px
.sealui-pagination
  padding 20px 0
  margin-bottom 20px
  text-align: right;
.sealui-pager li,
.sealui-pagination button,
.sealui-pagination span,
.sealui-pager li.btn-quicknext,
.sealui-pager li.btn-quickprev
  height 40px
  min-width 40px
  line-height 40px
  font-size 16px
.sealui-pagination .btn-next .sealui-icon,
.sealui-pagination .btn-prev .sealui-icon
  font-size 16px

.no-data-tip
  text-align:center;
  padding:3em 0
  span
    display:block
    padding 1em 0 0 0
    font-size 1.2em
    color #888

.v-modal
  opacity 1
  background rgba(10,10,10,.86)
.createFolder.sealui-dialog
  border 1px solid $borderColor
  box-shadow: 0 2px 15px 0 rgba(140, 144, 155, 0.5);
  border-radius 6px
  margin-top 5% !important
  .sealui-panel-heading
    display none
.createAddPaperDialog.sealui-dialog
  border-radius 6px
.createFolder .dialog-header,
.createAddPaperDialog .dialog-header
  margin -20px -20px 0
  padding 15px
  position: relative;
  font-size 18px
  font-weight 500
  border-bottom: 1px solid $borderColor;
  background #f5f5f5
  border-radius 6px 6px 0 0

.createFolder .sealui-dialog__ft
  height auto
.createFolder .dialog-footer
  background lighten($borderColor,80%)
  border-top: 1px solid $borderColor;
  padding: 15px;
  height auto
  margin -10px -20px -15px
.createAddPaperDialog .sealui-dialog__ft
  height auto

.createAddPaperDialog .dialog-footer
  background #f5f5f5
  border-top: 1px solid $borderColor;
  padding: 15px;
  height auto
  margin -10px -20px -15px
  border-radius 0px 0px 6px 6px

.createFolder .sealui-dialog__bd
  color #333
  td
    padding 10px !important
.createFolder .sealui-input
  width 80%
  margin 20px 0 0 0

.create-paper-modal
  .sealui-modal__title
    text-align center
  .sealui-input
    width 100%
  .sealui-modal__content
    padding-top 10px
  .sealui-modal__message
    text-align center
    display none
    font-size 18px
  .sealui-modal__btns
    border-top 1px solid $borderColor
    padding-top 15px
  .sealui-modal__errormsg
    font-size 14px
    margin-top 10px
.createAddPaperDialog
  .sealui-dialog__headerbtn
    position: absolute;
    top:20px
    right 20px
  .paperDialog-select
    .sealui-select
      width 136px
      margin 0 20px 0 0
      &:last-child
        margin 0
  .folderslists-content
    margin 10px 0 0 0
    border 1px solid $borderColor
    border-radius 3px
    display flex
    .folder-cont
      flex 1
      overflow hidden
      &:first-child
        border-right 1px solid $borderColor
    .folder-title
      height: 40px;
      font-size: 16px;
      color: #757575;
      line-height: 38px;
      margin: 0;
      background: #FAFAFA;
      padding-left: 16px;
      border-bottom: 1px solid $borderColor;
    .folder-list
      overflow: auto;
      height: calc(100% - 40px);
      li
        position: relative;
        font-size: 14px;
        color: #757575;
        letter-spacing: 0;
        line-height: 40px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding-left: 16px;
        padding-right: 10px;
        cursor: pointer;
        i.sealui-icon-arrow-right
          position: absolute;
          right 10px
          top 10px
          display none
        &.active
          background-color: #F5FBFF;
          border-color: #90CAF9;
          color: #1E88E5;
          cursor: pointer;
          i.sealui-icon-arrow-right
            display block
        &:first-child
          border-top-color: transparent;
        &:last-child
          border-bottom-color: transparent;
    .paper-list
      overflow: auto;
      height: calc(100% - 40px);
      li
        position: relative;
        font-size: 14px;
        color: #757575;
        letter-spacing: 0;
        line-height: 30px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding-left: 16px;
        padding-right: 10px;
        cursor: pointer;
        &.active
          background-color: #F5FBFF;
          border-color: #90CAF9;
          color: #1E88E5;
          cursor: pointer;
          i.sealui-icon-arrow-right
            display block
        &:first-child
          border-top-color: transparent;
        &:last-child
          border-bottom-color: transparent;
.folder-name
  display block
  width 100%
  &::before
    background-image: url(https://jiaoyanfz.aibeike.com/haibian/images/ico-folder.svg);
    background-size: 24px 20px;
    background-position: center;
    margin-right: 3px;
    background-repeat: no-repeat;
